.prefab-browser {
    display: flex !important;
    flex-direction: column;
    height: 100%;
    gap: 1rem !important;
}

.prefab-browser .header {
    flex: 0 0 auto;
}

.prefab-browser .prefab-container-form {
    flex: 1;
    overflow-y: hidden !important;
}

.prefab-browser .prefab-container-form .prefab-container {
    flex: 1;
    min-width: 480px;
    min-height: 510px !important;
}

.prefab-browser
    .prefab-container-form
    .prefab-container
    .prefab-grid
    .prefab-card {
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
}

.prefab-browser
    .prefab-container-form
    .prefab-container
    .prefab-grid
    .prefab-input-checkbox {
    display: none;
}

.prefab-browser
    .prefab-container-form
    .prefab-container
    .prefab-grid
    .prefab-label {
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 0.5rem;
}

.prefab-browser
    .prefab-container-form
    .prefab-container
    .prefab-grid
    .prefab-card
    .preview {
    flex: 0 0 auto;
    display: flex;
    width: 100px;
    height: 100px;
}

.prefab-browser
    .prefab-container-form
    .prefab-container
    .prefab-grid
    .prefab-label
    .name {
    flex: 1;
    text-align: center;
}

.prefab-browser
    .prefab-container-form
    .prefab-container
    .prefab-grid
    .prefab-label
    .tags {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: start;
    width: 100%;
    gap: 0.3rem;
}

.prefab-browser
    .prefab-container-form
    .prefab-container
    .prefab-grid
    .prefab-label
    .tags .tag-label {
    border-style: solid;
    border-width: 1px;
    /* border-color: var(--color-fieldset-border); */
    border-radius: 4px;
    padding: 2px;
}

.prefab-browser
    .prefab-container-form
    .prefab-container
    .prefab-grid
    .prefab-label
    .tags
    .tag-input-checkbox {
    display: none;
}

.prefab-browser
    .prefab-container-form
    .prefab-container
    .prefab-grid
    .prefab-card:has(.prefab-input-checkbox:checked) {
    background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0) 40%,
        var(--color-fieldset-border) 100%
    ) !important;
}

.prefab-browser .footer {
    flex: 0 0 auto;
}
