.tag-list {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;

    .tag-chip {
        cursor: pointer;
    }
}

.tag-dropdown {
    // position: absolute;
    background: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    // margin: 2px 0 0;
    // padding: 0;
    // list-style: none;
    // max-height: 150px;
    // overflow-y: auto;
    // z-index: 10;

    // li {
    //     padding: 4px 6px;
    //     cursor: pointer;

    //     &:hover {
    //         background: var(--color-hover-bg);
    //     }
    // }
}
