.prefab-browser-window {
    .window-content {
        display: flex !important;
        flex-direction: column !important;
        height: 100% !important;
        gap: 1rem !important;

        .header {
            flex: 0 0 auto;
            display: flex;
            flex-direction: column;
            gap: 0.7rem;
        }

        .header-tags {
            flex: 0 0 auto;
            display: flex;
            flex-direction: column;
            gap: 0.7rem;
        }

        .tags {
            flex: 0 0 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: baseline;
            align-items: start;
            width: 100%;
            gap: 0.3rem;

            .tag-label {
                border-style: solid;
                border-width: 1px;
                border-radius: 4px;
                padding: 2px;
                border-color: var(--tag-color);

                cursor: pointer;

                &.active {
                    background: var(--tag-color);
                }
            }

            .tag-input-checkbox {
                display: none;
            }
        }

        .prefab-container-form {
            flex: 1;
            overflow-y: hidden !important;

            .prefab-container {
                flex: 1;

                .prefab-grid {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 0.3rem;

                    .prefab-card {
                        display: flex;
                        justify-content: baseline;
                        flex-direction: column;
                        align-items: center;
                        height: auto;
                        width: 200px;

                        .preview {
                            flex: 0 0 auto;
                            display: flex;
                            width: 100px;
                            height: 100px;
                        }
                    }

                    .prefab-input-checkbox {
                        display: none;
                    }

                    .prefab-label {
                        display: flex;
                        justify-content: baseline;
                        flex-direction: column;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                        gap: 0.5rem;

                        .name {
                            flex: 1;
                            text-align: center;
                        }
                    }

                    .prefab-card {
                        &:has(.prefab-input-checkbox:checked) {
                            background: radial-gradient(
                                ellipse at center,
                                rgba(0, 0, 0, 0) 15%,
                                var(--color-fieldset-border) 100%
                            ) !important;
                        }
                    }
                }
            }
        }

        .footer {
            flex: 0 0 auto;
            display: flex;
            flex-direction: row;
            gap: 0.7rem;
        }
    }
}
