<section class="footer">
    <button data-action="deletePrefab">Delete</button>
    <button data-action="clearFilters">Clear Filters</button>

    <span class="footer-hint" aria-label="Help">
        <i class="fa-solid fa-circle-question"></i>
        <span class="hint-tooltip">
            {{localize 'INTERACTIVE_LIGHT.Menu.Prefabs.Browser.Footer.Hint.Place'}}
            <br>
            {{localize 'INTERACTIVE_LIGHT.Menu.Prefabs.Browser.Footer.Hint.Rotate'}}
        </span>
    </span>
</section>